@include mediaLg {
  .details-card {
    grid-template-columns: 1fr;
    text-align: center;
    p {
      text-align: left;
    }
  }
}

@include mediaMd {
  .hide-md {
    display: none;
  }
  .title {
    font-size: 1.2rem;
  }
  .details-card {
    button {
      margin: 1rem auto;
      width: 100%;
    }
  }
  .modal-container .modal-card {
    width: 70vw;
    :nth-child(6) {
      :nth-child(n) {
        font-size: 0.8rem;
      }
    }
  }
}

@include mediaSm {
  .hide-sm {
    display: none;
  }
  .modal-container .modal-card {
    :nth-child(6) {
      margin: 0;
    }
  }
}

@include mediaVt {
}
