@import '../../sass/config.scss';

.navbar {
  padding: 0.6rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.94;
  position: fixed;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
      .nav-title {
        font-size: 1.5rem;
      }
      .fa-microchip {
        margin-right: 4rem;
        color: #f3f169;
      }
  }
}
