.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .modal-card {
    width: 35vw;
    max-width: 20rem;
    z-index: 2;
    border: 1px solid $darkColor;
    background: #e0e0e0;
    img {
      max-width: 200px;
    }
    span {
      color: #16616b;
    }
    :nth-child(6) {
      margin: 0 3rem;
      :nth-child(1) {
        border: 2px solid $warningColor;
        border-radius: 5px;
      }
      :nth-child(1):hover {
        background: $warningColor;
        color: $whiteColor;
      }
      :nth-child(2) {
        border: 2px solid $primaryColor;
        border-radius: 5px;
      }
      :nth-child(2):hover {
        background: $primaryColor;
        color: $whiteColor;
      }
    }
  }
}
