@import '../../../sass/config.scss';

.cpu-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  img {
    grid-column: span 3;
  }
  h3,
  h4 {
    grid-column: span 3;
  }
  h5 {
    grid-column: span 3;
  }
  .category {
    grid-column: 3;
  }
  h2 {
    grid-column: span 3;
    color: $hoverColor;
  }
}
