@import '../../../sass/config.scss';

.cpu-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  overflow: hidden;
  .img-div {
    grid-column: span 3;
  }
  h3,
  h4 {
    grid-column: span 3;
  }
  h5 {
    grid-column: span 3;
  }
  .category {
    grid-column: 3;
  }
  h2 {
    grid-column: 1;
    margin-top: 0.5rem;
    color: $hoverColor;
    align-self: flex-end;
  }
  button {
    position: absolute;
    bottom: 1rem;
    right: -0.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    i {
      font-size: 1.4rem;
    }
  }
}
.cpu-item:hover button {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}
